{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juscon</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;400;700;300;100&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/royal-crescent" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
</head>




<body>


    <header class="site-header" id="siteHeader">
        <div class="hdr-wrap">

            <a class="hdr-logo" href="{% url 'home' %}" aria-label="Reload page"
                onclick="location.reload(); return false;">
                JUSCON
            </a>



            <button class="hdr-burger" id="hdrBurger" aria-label="Open menu" aria-controls="mnavModal"
                aria-expanded="false">
                <span></span><span></span><span></span>
            </button>


            <nav class="hdr-nav" aria-label="Primary">
                <a href="#">Solutions</a>
                <a href="#">Products</a>
                <a href="#">Company</a>
            </nav>

            <div class="hdr-actions">
                <!-- <button class="icon-btn" aria-label="Search">
                    <img src="/static/image/1.png" alt="Search icon">
                </button>

                <button class="icon-btn" aria-label="Language">
                    <img src="/static/image/2.png" alt="Language icon">
                </button> -->

                <a class="cta">Contact Sales</a>
            </div>



        </div>
    </header>


    <div class="mnav-under" id="mnavUnder" hidden></div>
    <div class="mnav-modal" id="mnavModal" role="dialog" aria-modal="true" aria-labelledby="mnavTitle" hidden>
        <div class="mnav-card">
            <div class="mnav-head">
                <h2 id="mnavTitle">Menu</h2>
                <button class="mnav-close" id="mnavClose" aria-label="Close menu">✕</button>
            </div>
            <nav class="mnav-list" aria-label="Mobile">
                <a href="#" class="mnav-link">Solutions</a>
                <a href="#" class="mnav-link">Products</a>
                <a href="#" class="mnav-link">Company</a>
            </nav>
            <a href="/contact" class="mnav-cta">Contact Sales</a>
        </div>
    </div>


    {% block content %}
    {% endblock content %}

    <footer class="site-footer">
        <p>©2025 Juscon Transport LTD. All Rights Reserved</p>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>